* {
    margin: 0;
    padding: 0;
}
#time{
    position: absolute;
    top: 20px;
    padding: 10px;
    height: 15px;
    color: rgb(236, 236, 236);
    font-size: 3em;
    font-family: sans-serif;
}
body{
    overflow: hidden;
}
#LoginBox{
    position: absolute;
    text-align: center;
    color: #F7FBFF;
    font-size: 3em;
    font-family: sans-serif;
    width: 49.5%;
    height: 99.3%;
    border: 4px solid #F96F40;
    background-color: #1F5673;
}
#LeaderBox{
    position: absolute;
    text-align: center;
    color: #F7FBFF;
    font-size: 3em;
    font-family: sans-serif;
    left: 50%;
    width: 49.1%;
    height: 99.3%;
    border: 4px solid #F96F40;
    background-color: #1F5673;
}
#RefreshBox{
    display: none;
    position: absolute;
    text-align: center;
    color: #F7FBFF;
    font-size: 3em;
    font-family: sans-serif;
    width: 50%;
    top: 25%;
    left: 25%;
    height: 50%;
    border: 4px solid #F96F40;
    background-color: #1F5673;
}
input{
    position: relative;
    width: 90%;
    height: 50px;
    font-size: 45px;
    font-family: sans-serif;
}
button{
    position: relative;
    background: rgb(135, 137, 146);
    width: 50%;
    height: 8%;
    top: 5%;
    left: 25%;
    font-size: 1em;
    color: #F7FBFF;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
p{
    padding: 10px;
}
#root {
    overflow: hidden;
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.con {
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.edit {
    width: 600px;
    height: 600px;
    background: rgb(206, 198, 198);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

.edit .element {
    width: 80%;
    height: 80%;
    position: relative;
}

.edit .element .north,
.edit .element .west,
.edit .element .south,
.edit .element .east {
    position: absolute;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    transition: 0.2s
}
.edit .element .north:hover,
.edit .element .west:hover,
.edit .element .south:hover,
.edit .element .east:hover {
    background: rgb(110, 110, 110);
    z-index: 2;
}

.edit .element .north {
    width: 100%;
    height: 10%;
}

.edit .element .west {
    width: 10%;
    height: 100%;
}

.edit .element .south {
    bottom: 0;
    width: 100%;
    height: 10%;
}

.edit .element .east {
    right: 0;
    width: 10%;
    height: 100%;
}
.edit .close{
    padding: 15px;
    margin-top: 10px;
    width: 100px;
    background: rgb(135, 137, 146);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
    transition: 0.2s;
}
.edit .close:hover{
    background: rgb(172, 174, 182);
}